<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static/styles',filename='style.css') }}">
  <link rel = "stylesheet" type ="text/css" href ="static/styles/style.css"> 
  <title></title>
</head>
<header>
    <div class="nav">
    <nav class="navigation">
        <form action="/">
        <button class="btn2" type="submit">back</button>
    </form>
    </nav>
</div>
</header>
<body>


  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Heart disease and diabetes prediction application</h1>
      <div class="row center">
        <h5 class="header col s12 light">hi and welcome to out application 
        <br>
        </h5>

      </div>

        <div class="images">
        </div>
        <div> 
        <form action="/diabetes" class="accepectation">
        <button class="btn" type="submit">
            diabetes
       </button>
       </form>    
       <form action="/heart" class="accepectation" >
        <button class="btn" type="submit">
            heart
       </button>
   </form>
       
      </div>
  </div>

</body>
<footer>
     <div class="card1">
        <iframe height="330" width="330" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3667.19729422625!2d77.41773181510597!3d23.199479484863826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x397c43bc9994d78d%3A0x7a01333cf1304a82!2sBansal%20Hospital%20Bhopal!5e0!3m2!1sen!2sin!4v1680030766273!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <br/>
        <a href="tel:07554086000" class="caller">call</a>
    </div>
    <div class="card1">
     
        <iframe height="330" width="330" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3665.2886900592334!2d77.30588201510713!3d23.268957684828823!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x397c676cfee9f67d%3A0x6b7522bbea93dd93!2sChirayu%20Medical%20College%20%26%20Hospital!5e0!3m2!1sen!2sin!4v1680030801580!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <br/>
        <a href="tel:07552709100" class="caller">call</a>
    </div>
    <div class="card1">
     
        <iframe height="330" width="330" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3665.538602088173!2d77.39023511510698!3d23.25987138483339!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x397c681b0f664c0f%3A0xdc8f69cc6b507b8d!2sHamidia%20Hospital!5e0!3m2!1sen!2sin!4v1680030851090!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <br/>
        <a href="tel:07554050450" class="caller">call</a>
    </div>
</footer>
</html>
